<header>
  <a href="#"><h1>FAQ</h1></a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="radio">
    <div class="bear-container">
      <img src="../assets/Bear.svg" alt="" class="bear">
    </div>
    <div class="music">
      <div class="author">Deep</div>
      <div class="single">Deep</div>
    </div>
    <div class="ecwalizer">
      <img src="../assets/ecw_1.svg" alt="">
      <img src="../assets/ecw_2.svg" alt="">
      <img src="../assets/ecw_3.svg" alt="">
    </div>
  </div>
  <div class="contacts">
    <img src="../assets/first_contact.svg" alt="">
    <img src="../assets/Discord.svg" alt="">
    <img src="../assets/Twitter.svg" alt="">
  </div>
</footer>
