.title {
  margin-right: -1em;

  color: #CE3E00;
  letter-spacing: 1.3em;
  font-size: 11em;
}

.LIRA-container {
  position: absolute;
  top: 12%;
  left: 27.5%;

  width: 45%;
  height: 76%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LIRA-container lira-page {
  max-width: 20%;
}
